{% extends 'base.html.twig' %}

{% block title %}New JoueurCrud{% endblock %}

{% block body %}
    <h1>Create new JoueurCrud</h1>

    {{ include('joueur_crud/_form.html.twig') }}

    <a href="{{ path('app_joueur_crud_index') }}">back to list</a>
{% endblock %}
